<p>select-list works!</p>

<!-- <div class="container">
    <button type="button">Bike List</button>
    <button type="button">Car List</button>

    <div class="list-container" *ngIf="value">
        <ul>
            <li *ngFor="let bike of bikes">{{bike}}</li>
        </ul>
    </div>
    <div class="list-container" *ngIf="!value">
        <ul>
            <li *ngFor="let car of cars">{{car}}</li>
        </ul>
    </div>

    <div [ngSwitch]="mybike" class="select-container">
        <div *ngFor="let bike of bikes">
            <div *ngSwitchCase="bike">You selected <strong>{{bike}}</strong></div>
        </div>
     </div>



</div> -->
